{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
{% include "storage/navbar.html" %}
<div class="container my-5">
    <h2>Edit Profile</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="display_name" class="form-label">Display Name</label>
            <input type="text" class="form-control" id="display_name" name="display_name"
                   value="{{ profile.display_name }}" required>
        </div>

        <div class="mb-3">
            <label for="profile_pic" class="form-label">Profile Picture</label>
            <input type="file" class="form-control" id="profile_pic" name="profile_pic">
        </div>

       
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
{% endblock %}
