{% extends "base.html" %}
{% block content %}
{% include "storage/navbar.html" %}
<div class="container mt-4">
  <h3>Edit Role & Permissions for: {{ member.display_name }}</h3>

  <form method="post">
    {% csrf_token %}
    
    {{ form.role.label_tag }}
    {{ form.role }}

    <hr>
    <h5>Permissions:</h5>
    {{ form.permissions }}

    <button type="submit" class="btn btn-primary mt-3">Save</button>
    <button href="{% url 'members' %}" class="btn btn-primary mt-3">Back</button>
  </form>
</div>
{% endblock %}
