{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "storage/navbar.html" %}

<div class="container mt-4">
  <h2>{{ family.name }}'s Members</h2>
    <a type="button" class="btn btn-light" href="{% url 'family_info' family.id%}">
      + Invite new members
    </a>
    <br>
    <br>
  <div class="row">
    {% for member in members %}
      <div class="col-md-4 mb-3">
        <div class="card text-center shadow-sm">
          <a href="{% url 'profile_detail' member.profile.id%}">
          <img src="{{ member.profile.profile_pic.url}}" alt="{{ member.profile.display_name }}" class="rounded-circle mx-auto mt-3" width="100" height="100">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{ member.profile.display_name }}</h5>
            <p class="card-text">Role: <strong>{{ member.get_role_display }}</strong></p>
            
            {% if perms.storage.edit_members %}
              <a href="{% url 'edit_member' member.profile.id %}" class="btn btn-sm btn-outline-primary">Edit Role</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
